  <div class="tw-flex tw-flex-wrap tw-mt-7">
    <div *ngFor="let item of itens" class="tw-flex lg:tw-w-1/2 lg:tw-pr-8 tw-mt-14">
      <div class="tw-flex tw-flex-col lg:tw-flex-row tw-items-center">
        <div class="icones-sobre tw-h-24 tw-w-24 lg:tw-mr-7 tw-flex tw-justify-center tw-text-center">
            <img class="tw-w-8" [src]='item.src' alt="">
        </div>
  
        <div class="tw-w-full lg:tw-mt-auto tw-mt-4 tw-text-center lg:tw-text-start">
            <p class="tw-text-lg tw-uppercase tw-font-bold tw-text-[#808080]">{{item.titulo}}</p>
            <p class="tw-text-sm tw-text-[#808080]">{{item.descricao}}</p>
        </div>
      </div>
    </div>
  </div>
