.transform {
    top: -10px;
    transition: 0.5s;
    position: absolute;
    width: 95.5%;
}

.hover {
    transform: translateY(-150px);
}

.transicao {
    transition: .5s;

    &:hover {
        opacity: 1;
    }
}

.filter-invert {
    filter: invert(1);
}

.transicaoDois {
    transform: translateY(-10px);
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
}

.atendimento {
   background-color: #acdbe3 !important;
}

.prototipacao { 
    background-color: #336699 !important;
}

.desenvolvimento {
    background-color: #4b8f8c !important;
}

.homolog {
    background-color: #67c78a !important;
}

.producao {
    background-color: #37bb44 !important;
}

.suporte {
    background-color: #16e216 !important;
}