<div class="tw-flex tw-flex-wrap tw-flex-col lg:tw-flex-row tw-justify-center tw-mt-10 tw-gap-8">
  <div *ngFor="let item of trabalho; let i = index" (click)="acaoBotoesMetodos(i + 1)" class="tw-relative lg:tw-w-[30%] tw-p-2">
    <div [ngClass]="[hover == i + 1 ? test[i] : '']" class="tw-flex-col tw-cursor-pointer tw-rounded-md tw-bg-[#2e2d2c] tw-flex tw-justify-center tw-items-center tw-z-[1] transform tw-h-[200px]">
      <div class="transicao tw-text-white tw-font-semibold tw-flex tw-flex-col tw-items-center">
        <img class="tw-w-12 filter-invert tw-mb-2" src="../../../../../assets/fontawesome-pro-5.15.4-web/svgs/regular/{{item.src}}.svg" alt=""/>
        <h3>{{ item.titulo }}</h3>
      </div>
    </div>
    <div class="tw-rounded-md tw-bg-white tw-flex tw-items-center tw-justify-center tw-p-5 transicaoDois tw-h-[200px]">
      <div class="contetn">
        <p class="tw-text-primary">{{ item.descricao }}</p>
      </div>
    </div>
  </div>
</div>
