<div class="tw-my-0 tw-mx-52 tw-py-32 tw-px-4 tw-flex tw-gap-6 tw-items-center tw-h-full">
  <span class="tw-w-1/2 tw-h-full tw-text-white tw-text-4xl tw-font-normal ">
    Desenvolvemos soluções web personalizadas que 
    <strong>impulsionam o crescimento</strong> e a eficiência do seu 
    <strong>negócio na era digital!</strong> 
  </span>

  <div class="tw-w-1/2 tw-h-full tw-flex tw-flex-col">

    <app-form-contato></app-form-contato>

    <img class="animacao tw-w-8 tw-opacity-40 tw-absolute tw-bottom-1 tw-right-[48%]" src="../../../../../assets/fontawesome-pro-5.15.4-web/svgs/light/angle-double-down.svg" alt="Duas setas para baixo representando que existe mais informações se dar scroll na tela">
  </div>


</div>
