
<div class="{{class}} lg:tw-w-[100vw] lg:tw-h-[100vh]">
    <div class="tw-my-0 tw-mx-52 tw-pt-20 tw-flex tw-flex-col tw-justify-center responsive-container">
        <div class="tw-flex tw-justify-center tw-flex-col tw-text-center">
          <p class="tw-font-bold tw-text-4xl {{texto}}">
            {{titulo}}
          </p>
      
          <span class="tw-mt-5 tw-text-lg {{texto}}">
            {{descricao}}
          </span>
        </div>
    
        <ng-content></ng-content>
    
    </div>
</div>