<div class="tw-bg-white tw-shadow-lg tw-relative ">
  <div class="tw-my-0 tw-mx-36 tw-py-3 tw-px-4 tw-flex tw-justify-between responsive-container">
    <img class="tw-w-32 tw-h-32" src="../../../../../assets/svg/Tomilhero27.png" alt="Logo Tomilhero27 web design">
    <div class="tw-flex tw-full tw-justify-between tw-items-center mobile">
      <a *ngFor="let link of linksHeader" (click)="linkHeader(link.href)" class="tw-cursor-pointer tw-font-semibold tw-text-lg tw-ml-8 tw-text-primary tw-no-underline tw-hover:tw-underline">{{link.titulo}}</a>
    </div>
  </div>
</div>
