@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./variavel";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    overflow-x: none;
}
  

@media (max-width: 1000px) {
    .responsive-container {
      padding: 20px;
      margin: 20px;
      flex-direction: column;

      span {
        width: 100%;
        font-size: 28px;
        line-height: 32px;
      }
    }
  }

  
@keyframes fade-out {
  100% {
    opacity: 1;
    visibility: visible;
  }
  0% {
    opacity: 0;
    visibility: hidden;
  }
}

.aparecendo {
  animation: fade-out 2s ease-in-out forwards; /* Animação usando keyframes */
}


.animacaoScroll {
  transform: translateX(400%);
  transition: transform 1s ease;
}

.animacaoScroll:nth-of-type(event) {
  transform: translateX(-400%);
}

.show {
  transform: translateX(0);
}